body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#shop-header{
  background: #343A40;
  color: #FFFFFF;
}

#logo-header{
width: 50px;
}

#shop-background{
  height: 150px;
  background-image: url('/images/bike-background.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 30px

}

.card-bike{
  margin-bottom: 30px;
}

.image-card{
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.title-card{
  font-size: 26px;
}
/*************SHOP***************/

#panier-header{
  background: #343A40;
  color: #FFFFFF;
  height: 70px;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

.card-basket{
 
  
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}
.card-product{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F2F2F2;
  background-color: #fcfcfc;
  
}

.img-basket{
  width: 100%;
}
#card-total{
  border-bottom: 1px solid #F2F2F2;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

#card-checkout {
  padding-top: 7px;
}